<!-- preloader Start -->
<div id="preloader">
    <div id="status">
    <%= image_tag("preloader.gif", id: "perloader_image")%>
    </div>
</div>
<!--slider wrapper start-->
<div class="slider_main_wrapper">
    <div class="cc_slider_img_section">
        <div class="owl-carousel owl-theme">
            <div class="item cc_main_slide1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                            <div class="cc_slider_cont1_wrapper">
                                <div class="cc_slider_cont1">
                                    <div class="medi">
                                        <h1 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">para<span>você</span></h1></div>
                                    <h2 style="color: #FFF;" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">O Espaço Médico Terê</h2>
                                    <p style="color: #FFF;" data-animation-in="zoomIn" data-animation-out="animate-out zoomIn">Localizado no coração de Teresópolis, no moderno Centro Empresarial Cosmopolitan Office, contamos com salas equipadas para atendimento médico pediátrico e adulto. Com uma equipe profissional multidisciplinar, zelamos pela sua saúde e bem estar, e de sua família com muito carinho e segurança.</p>
                                    <ul>
                                        <li style="color: #FFF;" data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft"><a style="color: #FFF;" href="/sobre">Leia mais</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COMENTADO OS DOIS SLIDES DA HOME. DEIXADO APENAS O PRIMEIRO
            <div class="item cc_main_slide2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                            <div class="cc_slider_cont1_wrapper">
                                <div class="cc_slider_cont1">
                                    <div class="medi">
                                        <h1 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">para<span>você</span></h1></div>
                                    <h2 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">O Espaço Médico Terê</h2>
                                    <p data-animation-in="zoomIn" data-animation-out="animate-out zoomIn">Localizado no coração de Teresópolis, no moderno Centro Empresarial Cosmopolitan Office, contamos com salas equipadas para atendimento médico pediátrico e adulto. Com uma equipe profissional multidisciplinar, zelamos pela sua saúde e bem estar, e de sua família com muito carinho e segurança.</p>
                                    <ul>
                                        <li style="color: #FFF;" data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft"><a style="color: #FFF;" href="/sobre">Leia mais</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item cc_main_slide3">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                            <div class="cc_slider_cont1_wrapper">
                                <div class="cc_slider_cont1">
                                    <div class="medi">
                                        <h1 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">medical<span>services</span></h1></div>
                                    <h2 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">total health care solution</h2>
                                    <p data-animation-in="zoomIn" data-animation-out="animate-out zoomIn">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibdum auctor, nisi elit consequat ipsum, nec sagittis sem.</p>
                                    <ul>
                                        <li data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft"><a href="#">READ MORE</a></li>
                                        <li data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft"><a href="#">PURCHASE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
<!--slider wrapper end-->

<!--category wrapper start-->
<div class="category_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="cat_about">
                    <div class="icon_wrapper">
                    <%= image_tag("icon1.png", class: "image-responsive")%>
                    </div>
                    <div class="cat_img">
                    <%= image_tag("icon_11.png", id: "image-responsive")%>
                    </div>
                    <div class="cat_txt">
                        <h1>Atendimento Infantil</h1>
                        <p><ul style="list-style-type:none">
                            <li>Pediatria - Cardiologia</li>
                            <li>Dermatologia - Pneumologia</li>
                            <li>Fisioterapia - Cirurgia</li>
                            <li>Gastroenterologia</li>
                        </ul>
                        </p>
                        <a href="/servicos">Leia mais <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="cat_about">
                    <div class="icon_wrapper">
                    <%= image_tag("icon1.png", class: "image-responsive")%>
                    </div>
                    <div class="cat_img">
                    <%= image_tag("icon_11.png", class: "image-responsive")%>
                    </div>
                    <div class="cat_txt">
                        <h1>Atendimento Adulto</h1>
                        <p><ul style="list-style-type:none">
                                <li>Dermatologia</li>
                                <li>Fisioterapia</li>
                                <li>Geriatra</li>
                                <li>&nbsp;</li>                                
                            </ul></p>
                            <a href="/servicos">Leia mais <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="cat_about">
                    <div class="icon_wrapper">
                    <%= image_tag("icon2.png", class: "image-responsive")%>
                    </div>
                    <div class="cat_img cat_img_3">
                    <%= image_tag("icon_2.png", class: "image-responsive")%>
                    </div>
                    <div class="cat_txt">
                        <h1>Atendimentos</h1>
                        <p><ul style="list-style-type:none">
                                <li>Home Care</li>
                                <li>Ambulatorial</li>
                                <li>Domiciliar</li>
                                <li>&nbsp;</li>
                            </ul></p>
                            <a href="/servicos">Leia mais <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--category wrapper end-->

<!--appoint wrapper start-->
<div class="container" style="padding-top: 150px;">
    <div class="appoint_wrapper" style="height: 350px;">
        <div class="appoint_overlay"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 resp_apoint">
            <div class="appoint_icon">
                <%= image_tag("Icon_clock.png", class: "image-responsive")%>
            </div>
            
        </div>
    </div>
</div>
<!--appoint wrapper end-->

<!--team wrapper start-->
<div class="team_wrapper med_toppadder100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                <div class="team_heading_wrapper med_bottompadder40">
                    <h1 class="med_bottompadder20">NOSSA EQUIPE</h1>
                    <%= image_tag("Icon_team.png", class: "med_bottompadder20")%>
                    <p>Equipe multidisciplinar para melhor atender a sua necessidade.</p>
                </div>
            </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="team_slider_wrapper">
                <div class="owl-carousel owl-theme">
                <div class="item">
                <div class="row">
                    <% @users.each do |medico| %>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="team_about">
                            <div class="team_icon_wrapper">
                                <i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                            </div>
                            <div class="team_img">
                                <%= cl_image_tag(medico.avatar, :width => 262, :height => 330) %>
                            </div>
                            <div class="team_txt">
                                <h1><a href="#"><%= medico.nome %></a></h1>
                                <p><%= medico.especialidade %></p>
                            </div>
                            <div class="team_icon_hover our_doc_icn_hovr">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% end %>
            </div>
            </div>
    </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<!--team wrapper end-->

<!--vedio wrapper start-->
<div class="vedio_wrapper">
    <div class="vedio_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="vedio_heading_wrapper wow fadeInDown" data-wow-delay="0.5s">
                    <h1 class="med_bottompadder20">Novidades em breve</h1>
                    <%= image_tag("Icon_team.png", class: "med_bottompadder20")%>
                    <p>Espaço Médico Terê</p>
                    <h4><%= image_tag("Play-Icon.png")%></h4>
                    <div class="video_btn_wrapper right">
                        <ul>
                            <li><a class="btn" href="/sobre">Sobre nós</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--vedio wrapper end-->

<!-- counter wrapper start-->
<div class="counter_section">
    <div class="counter_overlay">
        <section class="counter-section section-padding" data-stellar-background-ratio="0.5">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="icon">
                            <a href=""><%= image_tag("png/patient.png", class: "img-responsive")%></a>
                        </div>
                        <div class="count-description">
                            <span class="timer">2477</span>
                            <h5 class="con1">Pacientes Satisfeitos</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="icon">
                            <a href=""><%= image_tag("png/doctor.png", class: "img-responsive")%></a>
                        </div>
                        <div class="count-description">
                            <span class="timer">9</span>
                            <h5 class="con2">Profissionais especialistas</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="icon">
                            <a href=""><%= image_tag("png/success.png", class: "img-responsive")%></a>
                        </div>
                        <div class="count-description">
                            <span class="timer">20</span>
                            <h5 class="con2">Anos de experiência</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="icon">
                            <a href=""><%= image_tag("png/heart.png", class: "img-responsive")%></a>
                        </div>
                        <div class="count-description">
                            <span class="timer">12</span>
                            <h5 class="con4">Especialidades Médicas</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- counter wrapper end-->

<!-- blog wrapper start-->
<div class="blog_wrapper med_toppadder100 med_bottompadder90">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                <div class="team_heading_wrapper med_bottompadder50 wow fadeInDown" data-wow-delay="0.3s">
                    <h1 class="med_bottompadder20">ARTIGOS RECENTES</h1>
                    <%= image_tag("Icon_team.png", class: "med_bottompadder20")%>
                    <p>Informe-se sobre os diversos temas médicos aqui.</p>
                </div>
            </div>
            <% if (@artigos.blank?) then %>              
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                    <b><i>Carregando artigos...</i></b>                     
                </div>
            <% else %>    
                <% @artigos.each do |artigo| %>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="blog_about">
                            <div class="blog_img">
                                <figure>
                                <%= cl_image_tag(artigo.cloudname, :width => 370, :height => 270) %>
                                </figure>
                            </div>
                            <div class="blog_comment">
                                <ul>
                                    <li><a href=""><i class="fa fa-comment" aria-hidden="true"></i>50</a></li>
                                </ul>
                            </div>
                            <div class="blog_txt" style="margin-bottom: 30px;">
                                <h1><%= link_to artigo.titulo, artigo %></h1>
                                <div class="blog_txt_info">
                                    <ul>
                                        <li>Dr. <%= artigo.user.nome %></li>
                                        <li><%= artigo.created_at.strftime('%d/%m/%Y') %></li>
                                    </ul>
                                </div>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>    
        </div>
    </div>
</div>
<!-- blog wrapper end-->

<!--testimonial wrapper start-->
<div class="testimonial_wrapper med_toppadder100">
    <div class="test_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="test_heading_wrapper">
                    <h1 class="med_bottompadder20">O que nossos pacientes dizem</h1>
                    <%= image_tag("line.png", class: "med_bottompadder60")%>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="test_slider_wrapper">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="t_icon_wrapper">
                                <div class="t_client_cont_wrapper2">
                                    <p>“ Dra. Mariana Thomé é a melhor pediatra, atenciosa e paciente. Meus Filhos adoram ir ao Centro Médico Terê, minha filha Diana pede para ligar para Dra. Mariana Thomé quando esta gripada.”</p>
                                    <div class="client_img_abt">
                                        <h5>- Rosane Dlugokenski</h5>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                        <div class="item">
                            <div class="t_icon_wrapper">
                                <div class="t_client_cont_wrapper2">
                                    <p>“ Dra. Raquel você é uma ótima médica sempre atenciosa e cuidadosa com minha pequena, sempre tirando minhas dúvidas que Deus continue te abençoando.”</p>
                                    <div class="client_img_abt">                                   
                                        <h5>- Leticia Pimentel</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="t_icon_wrapper">
                                <div class="t_client_cont_wrapper2">
                                    <p>“ Dra. Mariana Thomé! Só queria deixar registrado o meu agradecimento por toda atenção e carinho que você teve e tem com o meu filhote e com certeza com todos os seus pacientes !”</p>
                                    <div class="client_img_abt">
                                        <h5>- Cintia Nunes Barbosa</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial wrapper end-->

<!-- booking wrapper start -->
<div class="booking_wrapper med_toppadder100 med_bottompadder90">    
    <div class="map_main_wrapper">
        <div id="map" style="width:100%; float:left; height:300px;"></div>
    </div>
</div>
<!--booking wrapper end-->

<!--partner wrapper start-->
<div class="partner_wrapper med_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="partner_slider_img">
                    <div class="owl-carousel owl-theme">
                        <div class="item">                        
                            <a href="https://www.facebook.com/Amor-Em-Forma-De-Gotinhas-182901519029676/" target="_blank">    
                            <%= image_tag("amorgotas.png", class: "img-responsive", alt: "Amor em forma de gotinha")%></a>
                        </div>
                        <div class="item">
                            <a href="http://www.studionucleo.com.br" target="_blank">
                            <%= image_tag("studionucleo.png", class: "img-responsive", alt: "Studio Nucleo")%></a>
                        </div>                    
                    </div
                </div>
            </div>
        </div>
    </div>
</div><br>
<!--partner wrapper end-->
