 <!-- med_tittle_section-->
    <div class="med_tittle_section">
        <div class="med_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="med_tittle_cont_wrapper">
                        <div class="med_tittle_cont">
                            <h1>Equipe</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a>
                                </li>
                                <li>Equipe</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- med_tittle_section End -->
    <!--doctor portfolio section start-->
    <div class="portfolio_section med_toppadder100 med_bottompadder70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                    <div class="team_heading_wrapper med_bottompadder40">
                        <h1 class="med_bottompadder20">NOSSA EQUIPE</h1>
						<%= image_tag("Icon_team.png", class: "med_bottompadder20")%>
                        <p>Equipe multidisciplinar para melhor atender a sua necessidade.</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="portfolio-area">
            <div class="container">
                <div class="portfolio-filter clearfix text-center med_bottompadder40">
        
                </div>
                <div class="row">
                    <div id="gridWrapper" class="clearfix">

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3  portfolio-wrapper III_column med_bottompadder30 resp_div_img" data-groups='["all", "business", "website", "photoshop"]'>
                            <div class="team_about our_doc_main dc_porftfolio_img">
                                <div class="team_icon_wrapper">
									<i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                                </div>
                                <div class="team_img special_team_img_mn">
                                    <%= image_tag("mari.jpg", class: "img-responsive")%>
                                </div>
                                <div class="team_txt">
                                    <h1><a href="#">Dra. Mariana Thomé</a></h1>
                                    <p>(Pediatra)</p>
                                </div>
                                <div class="team_icon_hover">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3  portfolio-wrapper III_column med_bottompadder30 resp_div_img" data-groups='["all", "business", "website", "photoshop"]'>
                            <div class="team_about our_doc_main dc_porftfolio_img">
                                <div class="team_icon_wrapper">
									<i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                                </div>
                                <div class="team_img special_team_img_mn">
                                    <%= image_tag("ramorim.jpg", class: "img-responsive")%>
                                </div>
                                <div class="team_txt">
                                    <h1><a href="#">Dra. Raquel Amorim</a></h1>
                                    <p>(Pediatra)</p>
                                </div>
                                <div class="team_icon_hover">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 portfolio-wrapper III_column med_bottompadder30 resp_div_img" data-groups='["all", "business", "logo", "surgery"]'>
                            <div class="team_about our_doc_main dc_porftfolio_img">
                                <div class="team_icon_wrapper">
									<i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                                </div>
                                <div class="team_img special_team_img_mn">
                                    <%= image_tag("lluz.jpg", class: "img-responsive", style: "max-height: 330px;")%>
                                </div>
                                <div class="team_txt">
                                    <h1><a href="#">Dra. Louise Luz</a></h1>
                                    <p>(Gastroenterologia)</p>
                                </div>
                                <div class="team_icon_hover">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 portfolio-wrapper III_column med_bottompadder30 resp_div_img" data-groups='["all", "business", "surgery", "photoshop"]'>
                            <div class="team_about our_doc_main dc_porftfolio_img">
                                <div class="team_icon_wrapper">
									<i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                                </div>
                                <div class="team_img special_team_img_mn">
									<%= image_tag("gbernardo.jpg", class: "img-responsive", style: "max-height: 330px;")%>
                                </div>
                                <div class="team_txt">
                                    <h1><a href="#">Dra. Gabriela Bernardo</a></h1>
                                    <p>(Cardiologista)</p>
                                </div>
                                <div class="team_icon_hover">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 portfolio-wrapper III_column med_bottompadder30 resp_div_img" data-groups='["all", "business", "website", "photoshop"]'>
                            <div class="team_about our_doc_main dc_porftfolio_img">
                                <div class="team_icon_wrapper">
                                	<i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                                </div>
                                <div class="team_img special_team_img_mn">
                                    <%= image_tag("balbuquerque.jpg", class: "img-responsive", style: "max-height: 330px;")%>
                                </div>
                                <div class="team_txt">
                                    <h1><a href="#">Dr. Bruno Albuquerque</a></h1>
                                    <p>(Cirurgião)</p>
                                </div>
                                <div class="team_icon_hover">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 portfolio-wrapper III_column med_bottompadder30 resp_div_img" data-groups='["all", "business", "website", "photoshop"]'>
                            <div class="team_about our_doc_main dc_porftfolio_img">
                                <div class="team_icon_wrapper">
                                <i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                                </div>
                                <div class="team_img special_team_img_mn">
								<%= image_tag("idrummond.jpg", class: "img-responsive")%>
                                </div>
                                <div class="team_txt">
                                    <h1><a href="#">Dra. Izabel Drummond</a></h1>
                                    <p>(Pneumologista)</p>
                                </div>
                                <div class="team_icon_hover">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 portfolio-wrapper III_column med_bottompadder30 resp_div_img" data-groups='["all", "surgery", "website", "photoshop"]'>
                            <div class="team_about our_doc_main dc_porftfolio_img">
                                <div class="team_icon_wrapper">
                                <i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                                </div>
                                <div class="team_img special_team_img_mn">

                                 <%= image_tag("scamara.jpg", class: "img-responsive")%>
                                </div>
                                <div class="team_txt">
                                    <h1><a href="#">Dra. Sabrina Câmara</a></h1>
                                    <p>(Fisioterapia)</p>
                                </div>
                                <div class="team_icon_hover">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 portfolio-wrapper III_column med_bottompadder30 resp_div_img" data-groups='["all", "business", "website", "photoshop"]'>
                            <div class="team_about our_doc_main dc_porftfolio_img">
                                <div class="team_icon_wrapper">
                                 <i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                                </div>
                                <div class="team_img special_team_img_mn">
                                   <%= image_tag("cbertolini.jpg", class: "img-responsive")%>
                                </div>
                                <div class="team_txt">
                                    <h1><a href="#">Dra. Caroline Bertolini</a></h1>
                                    <p>(Dermatologista)</p>
                                </div>
                                <div class="team_icon_hover">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 portfolio-wrapper III_column med_bottompadder30 resp_div_img" data-groups='["all", "business", "website", "logo"]'>
                            <div class="team_about our_doc_main dc_porftfolio_img">
                                <div class="team_icon_wrapper">
                                    <i class="fa fa-user-md" style="top: 50px; left: 20px; position: absolute; font-size: 40px; color: #FFF"></i>
                                </div>
                                <div class="team_img special_team_img_mn">
								<%= image_tag("jsantos.jpg", class: "img-responsive")%>
                                </div>
                                <div class="team_txt">
                                    <h1><a href="#">Dra. Júlia Santos</a></h1>
                                    <p>(Geriatra)</p>
                                </div>
                                <div class="team_icon_hover">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       </div>  
                        
                    </div>
                    <!--/#gridWrapper-->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!--/.portfolio-area-->
    </div>
    <!--doctor portfolio section end-->