<!--med_tittle_section-->
	<div class="med_tittle_section">
		<div class="med_img_overlay"></div>
			<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="med_tittle_cont_wrapper">
						<div class="med_tittle_cont">
							<h1>Serviços</h1>
							<ol class="breadcrumb">
								  <li><a href="index.html">Home</a></li>
								  <li>Serviços</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- med_tittle_section End -->

	<!--ser_abt section start-->
    <div class="ser_abt">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <div class="ser_abt_img_resp">
                        <%= image_tag("TesteServicos.jpg", class: "img-responsive")%>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 abt_section">
                    <div class="abt_txt abt_txt_resp">
                        <h3>ESPECIALIDADES PARA VOCÊ</h3>
                        <p class="med_toppadder20">Contamos com excelentes profissionais multidisciplinares.</p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="abt_chk med_toppadder30">
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Pediatria e Puericultura</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Gastroenterologia Pediátrica</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Cardiologia Pediátrica</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Cirurgia Pediátrica</span></li>
								<li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Pneumologia Pediátrica</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Fisioterapia Adulto e Infantil</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Dermatologia Adulto e Infantil</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span> Geriatria</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ser_abt section end-->
	<!--ser_blog section start-->
    <div class="blog_wrapper med_toppadder100 med_bottompadder90">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                    <div class="team_heading_wrapper med_bottompadder50 wow fadeInDown" data-wow-delay="0.3s">
                        <h1 class="med_bottompadder20">sobre serviços</h1>
                        <%= image_tag("Icon_team.png", class: "med_bottompadder20")%>
                        <p>Conheça mais um pouco sobre cada especialidade.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="blog_about blog_resp wow SlideInLeft" data-wow-delay="0.4s">
                        <div class="blog_img blog_img_resp">
                            <figure>
                                <%= image_tag("pediatria.png", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Pediatria</a></h1>
                            <p>A pediatria é a especialidade médica dedicada à assistência à criança e ao adolescente, nos seus diversos aspectos, sejam eles preventivos ou curativos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="blog_about blog_resp">
                        <div class="blog_img blog_img_resp">
                            <figure>
                            <%= image_tag("pueri.png", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Puericultura</a></h1>
                            <p>Ciência que reúne todas as noções (fisiologia, higiene, sociologia) suscetíveis de favorecer o desenvolvimento físico e psíquico das crianças, desde o período da gestação até a puberdade.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="blog_about blog_resp">
                        <div class="blog_img">
                            <figure>
                                <%= image_tag("gastro.png", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Gastroenterologia Pediátrica</a></h1>
                            <p>A Gastroenterologia ou Gastrenterologia, é a especialidade médica que se ocupa do estudo, diagnóstico e tratamento clínico das doenças do aparelho digestivo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="blog_about blog_resp wow SlideInLeft" data-wow-delay="0.4s">
                        <div class="blog_img blog_img_resp">
                            <figure>
                            <%= image_tag("cardio.png", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Cardiologia Pediátrica</a></h1>
                            <p>A Cardiologia Pediátrica dedica a sua atenção ao diagnóstico e tratamento das doenças que atingem o coração e o sistema cardiovascular em idade pediátrica.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="blog_about blog_resp">
                        <div class="blog_img blog_img_resp">
                            <figure>
                            <%= image_tag("cirurgia.png", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Cirurgia Pediátrica</a></h1>
                            <p>Cirurgia Pediátrica é a especialidade médica, que se ocupa do tratamento cirúrgico de doenças que acometem indivíduos desde o período da vida fetal até o início da idade adulta.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="blog_about blog_resp">
                        <div class="blog_img">
                            <figure>
                            <%= image_tag("pneumo.png", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Pneumologia Pediátrica</a></h1>
                            <p>A pneumologia pediátrica cuida do diagnóstico, tratamento e da prevenção das doenças respiratórias que acometem crianças e adolescentes.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row"> <!-- SEGUNDA ROW CRIADA PRA EVITAR ERRO NO LAYOUT
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="blog_about blog_resp wow SlideInLeft" data-wow-delay="0.4s">
                        <div class="blog_img blog_img_resp">
                            <figure>
                            <%= image_tag("fisio.png", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Fisioterapia Adulto E Infantil</a></h1>
                            <p>A Fisioterapia é uma ciência da saúde aplicada ao estudo, diagnóstico, prevenção e tratamento de disfunções cinéticas funcionais de órgãos e sistemas.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="blog_about blog_resp">
                        <div class="blog_img blog_img_resp">
                            <figure>
                            <%= image_tag("dermato.png", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Dermatologia Adulto E Infantil</a></h1>
                            <p>A Dermatologia é a especialidade médica que se ocupa do diagnóstico e tratamento clínico-cirúrgico das enfermidades relacionados à pele e aos anexos cutâneos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="blog_about blog_resp">
                        <div class="blog_img">
                            <figure>
                            <%= image_tag("geriatra.png", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Geriatria</a></h1>
                            <p>A Geriatria é o ramo da medicina que foca o estudo, a prevenção e o tratamento de doenças e da incapacidade em idades avançadas. O termo deve ser distinto de gerontologia, que é o estudo do envelhecimento em si.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- ser_blog section end-->
