<!--med_tittle_section-->
	<div class="med_tittle_section">
		<div class="med_img_overlay"></div>
			<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="med_tittle_cont_wrapper">
						<div class="med_tittle_cont">
							<h1>Serviços</h1>
							<ol class="breadcrumb">
								  <li><a href="index.html">Home</a></li>
								  <li>Serviços</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- med_tittle_section End -->

	<!--ser_abt section start-->
    <div class="ser_abt">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <div class="ser_abt_img_resp">
                        <%= image_tag("TesteServicos.jpg", class: "img-responsive")%>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 abt_section">
                    <div class="abt_txt abt_txt_resp">
                        <h3>ESPECIALIDADES PARA VOCÊ</h3>
                        <p class="med_toppadder20">precisamos de texto para os servicos</p>
                        <p>continuacao de servicos</p>
                    </div>
                    <div class="abt_chk med_toppadder30">
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Pediatria e Puericultura</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Gastroenterologia Pediátrica</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Cardiologia Pediátrica</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Cirurgia Pediátrica</span></li>
								<li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Pneumologia Pediátrica</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Fisioterapia Adulto e Infantil</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Dermatologia Adulto e Infantil</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span> Geriatria</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ser_abt section end-->
	<!--ser_blog section start-->
    <div class="blog_wrapper med_toppadder100 med_bottompadder90">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
                    <div class="team_heading_wrapper med_bottompadder50 wow fadeInDown" data-wow-delay="0.3s">
                        <h1 class="med_bottompadder20">sobre serviços</h1>
                        <%= image_tag("Icon_team.png", class: "med_bottompadder20")%>
                        <p>Conheça mais um pouco sobre cada especialidade.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="blog_about blog_resp wow SlideInLeft" data-wow-delay="0.4s">
                        <div class="blog_img blog_img_resp">
                            <figure>
                            <%= image_tag("ser_ser_1.jpg", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Pediatria</a></h1>
                            <p>A pediatria é a especialidade médica dedicada à assistência à criança e ao adolescente, nos seus diversos aspectos, sejam eles preventivos ou curativos.</p>
                            <a href="#">Leia mais <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="blog_about blog_resp">
                        <div class="blog_img blog_img_resp">
                            <figure>
                            <%= image_tag("ser_ser_2.jpg", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Puericultura</a></h1>
                            <p>Ciência que reúne todas as noções (fisiologia, higiene, sociologia) suscetíveis de favorecer o desenvolvimento físico e psíquico das crianças, desde o período da gestação até a puberdade.</p>
                            <a href="#">Leia mais <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="blog_about blog_resp">
                        <div class="blog_img">
                            <figure>
                            <%= image_tag("ser_ser_3.jpg", class: "img-responsive")%>
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Gastroenterologia Pediátrica</a></h1>
                            <p>A Gastroenterologia ou Gastrenterologia, é a especialidade médica que se ocupa do estudo, diagnóstico e tratamento clínico das doenças do aparelho digestivo.</p>
                            <a href="#">Leia mais <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ser_blog section end-->
