<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--[endif]-->

<head>
    <meta charset="utf-8" />
    <title>Espaço Médico Terê</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="ESPACOMEDICOTERE" />
    <meta name="keywords" content="medical/IMEDICO/hospital" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- favicon link-->
    <link rel="shortcut icon" type="image/icon" href="assets/faviconemt.jpeg" />
</head>

<body>
    <!--top header start-->
    <div class="top_header_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="top_header_add">
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>&nbsp;</span>Rua Prefeito Sebastião Teixeira, 354 - Várzea, Teresópolis</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i><span>&nbsp;</span>  (21) 99641-4688</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"><span>&nbsp;</span> contato@espacomedicotere.com.br</a></li>
                        </ul>
                    </div>
                    <div class="top_login">
                        <ul>
                            <li><i class="fa fa-sign-in" aria-hidden="true"></i><a href="#">Login / Registrar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header menu wrapper-->
    <div class="menu_wrapper header-area hidden-menu-bar stick">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 wow bounceInDown" data-wow-delay="0.6s">
                    <div class="header_logo">
                        <a href="index.html" class="hidden-xs">
                        <%= image_tag("logosite.jpg", class: "img-responsive")%>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                    <nav class="navbar hidden-xs">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse respose_nav" id="bs-example-navbar-collapse-1">
							 <div class="et_navbar_search_wrapper hidden-xs">
                                    <div class="et_search_bar" id="search_button">
                                         <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </div>
                                    <div id="search_open" class="et_search_box">
                                        <input type="text" placeholder="Search here">
                                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <ul class="nav navbar-nav" id="nav_filter">
								 <li class="dropdown">
									  <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Home</b></a>
									</li>
                                    <li><a href="/sobre"><b>Sobre</b></a></li>
                                   <li class="dropdown">
                                   
									  <a href="/servicos" role="button"><b>Serviços</b></a>

									</li>
                                   <li class="dropdown">
									  <a href="/medicos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Equipe</b></a>

									</li>
                                    <li class="dropdown">
									  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Fotos</b></a>

									</li>
									<li class="dropdown">
									  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Artigos</b></a>

									</li>
                                   <!-- <li class="dropdown">
									  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">contact</a>
									  <ul class="dropdown-menu hovr_nav_tab">
										<li><a href="contact_us.html">contact us</a></li>
										<li><a href="appointment.html">appointment </a></li>
									  </ul>
									</li> -->
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                    </nav>
                    <div class="rp_mobail_menu_main_wrapper visible-xs">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="gc_logo logo_hidn">
                                    <h1><a href="#">Espaço Médico<span>Terê</span></a></h1>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div id="toggle">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.177 31.177" style="enable-background:new 0 0 31.177 31.177;" xml:space="preserve" width="25px" height="25px">
                                        <g>
                                            <g>
                                                <path class="menubar" d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z" fill="#2ec8a6" />
                                            </g>
                                            <g>
                                                <path class="menubar" d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z" fill="#2ec8a6" />
                                            </g>
                                            <g>
                                                <path class="menubar" d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z" fill="#2ec8a6" />
                                            </g>
                                            <g>
                                                <path class="menubar" d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z" fill="#2ec8a6" />
                                            </g>
                                            <g>
                                                <path class="menubar" d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z" fill="#2ec8a6" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div id="sidebar">
                            <h1>Espaço Médico Terê</h1>
                            <div id="toggle_close">&times;</div>
                            <div id='cssmenu' class="wd_single_index_menu">
                                <ul>
                                    <li><a href='#'>Home</a>
                                     </li>
									 <li><a href='/sobre'>Sobre</a></li>
									 <li><a href='#'>Serviços</a>
                                     </li>
									  <li><a href='#'>Equipe</a>
                                     </li>
									 <li><a href='#'>Fotos</a>
                                     </li>
                                    <li><a href='#'>Artigos</a>
                                     </li>
                                    <!--<li class='has-sub'><a href='#'>contact</a>
                                       <ul>
                                           <li><a href="contact_us.html">contact us</a></li>
                                           <li><a href="appointment.html">appointment </a></li>
                                        </ul>
                                     </li>-->
                                    <li><a href="#">Login / Registrar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header wrapper end-->
    <%= yield %>
    <!-- footer wrapper start-->
    <div class="footer_wrapper">
        <div class="container">
            <div class="box_1_wrapper">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="address_main">
                            <div class="footer_widget_add">
                                <a href="">
                                <%= image_tag("footer_logo.jpg", id: "image-responsive")%>
                                </a>
                            </div>
                            <div class="footer_box_add">
                                <ul>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>&nbsp;</span>
                                    Rua Prefeito Sebastião Teixeira, 354</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i><span>&nbsp;</span>(21) 99641-4688</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"><span>&nbsp;</span> contato@espacomedicotere.com.br</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer_1-->
            <div class="booking_box_div">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_main_wrapper">
                           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallary_response hidden-sm">
                                <div class="footer_heading">
                                    <h1 class="med_bottompadder10">Facebook</h1>
                                    <img src="images/line.png" class="img-responsive" alt="img" />
                                </div>
                                <div class="footer_gallary">
                                    <div class="row">
                                       <ul>
											<li><img src="images/footer_1.jpg" alt="img" class="img-responsive"></li>
											<li><img src="images/footer_2.jpg" alt="img" class="img-responsive"></li>
											<li><img src="images/footer_3.jpg" alt="img" class="img-responsive"></li>
											<li><img src="images/footer_4.jpg" alt="img" class="img-responsive"> </li>
											<li> <img src="images/footer_5.jpg" alt="img" class="img-responsive"> </li>
											<li> <img src="images/footer_6.jpg" alt="img" class="img-responsive"> </li>
                                     </ul> 
									</div>
								</div>
							</div>
                            <!--footer_2-->
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 respons_footer_nav hidden-xs">
                                <div class="footer_heading footer_menu">
                                    <h1 class="med_bottompadder10"></h1>
                                </div>
                                <div class="footer_ul_wrapper">
                                    <ul>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                            <!--footer_3-->
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 contact_last_div">
                                <div class="footer_heading">
                                    <h1 class="med_bottompadder10">Horário de Funcionamento</h1>
                                    <%= image_tag("line.png", id: "img-responsive")%>
                                </div>
                                <div class="footer_cnct">
                                    <p>Segunda – Sexta</p>
                                    <p style="text-align: right;">
                                        <span>08:30-11:30</span>
                                    </p>
                                        <p style="text-align: right;">
                                            <span>13:00-18:00</span>
                                        </p>
                                    <p>Sábado - Domingo</p>
                                    <p style="text-align: right;">
                                        <span style="color:#881c2d">Fechado</span>
                                    </p>
                                </div>
                            </div>
                            <!--footer_4-->
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_botm_wrapper">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="bottom_footer_copy_wrapper">
									<span>Copyright © 2018 - Design by <a href="http://www.studionucleo.com.br">Studio Núcleo</a>.</span>
								</div>
                                <div class="footer_btm_icon">
                                    <ul>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--footer_5-->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="up_wrapper">
				<a href="javascript:" id="return-to-top"><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!--footer wrapper end-->
    <!--main js files-->
    <!--js code-->
    <script>
        function initMap() {
            var uluru = {
                lat: -22.4150559,
                lng: -42.962848
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                scrollwheel: false,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmdG8C6ItElq5ipuFv6O9AE48wyZm_vqU&callback=initMap">
    </script>
    <!-- map Script-->
</body>

</html>