<!DOCTYPE html>
<html>
  <head>
    <title>Emtere</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" media="all" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Admin</a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/medic/allarticles">Artigos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/medic/newarticle">Novo Artigo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Meus perfil</a>
          </li>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class:'nav-link') %>        
          </li>
        </ul>
      </div>
    </nav>
        <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
